* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.page {
  background-color: #fff;
  font-family: "Inter", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__container {
  max-width: 1024px;
  margin: 0 auto;
}

.page__title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #cde1f0;
  color: #000;
}

.page__subtitle {
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #cde1f0;
  color: #000;
}

@media (max-width: 900px) {
  .page__title {
    max-width: 400px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 47px;
    color: #cde1f0;
  }
  .page__subtitle {
    max-width: 350px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #cde1f0;
  }
}
@media (max-width: 520px) {
  .page__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #cde1f0;
  }
  .page__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #cde1f0;
  }
}
.style {
  font-style: normal;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #cde1f0;
  color: #000;
}

@media (max-width: 900px) {
  .style {
    font-style: normal;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #cde1f0;
    color: #000;
  }
}
.header {
  width: 100%;
  background-color: #fff;
  opacity: 1;
  margin: 0 auto;
  padding: 28px 0 17px 0;
}

.header__link-item {
  text-decoration: none;
  color: #000;
  transition: 1s all ease-in-out;
  color: #000;
}
.header__link-item:hover {
  text-decoration: none;
  color: #e31c0e;
}

.nav {
  display: flex;
}

.header__width {
  padding: 0 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header__logo {
  width: 130px;
  height: 40px;
}

.header__links {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-wrap: nowrap;
  margin: 3px 3px 0 0;
  gap: 0 20px;
}

.header__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #cde1f0;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #262626;
}
.header__link:hover {
  color: #ffd3a0;
}

@media (max-width: 900px) {
  .header {
    padding: 28px 0;
  }
  .header__logo {
    width: 130px;
    height: 40px;
  }
  .header__link {
    font-size: 18px;
    line-height: 22px;
  }
  .header__links {
    margin: 6px 0 0 0;
    gap: 0 13px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 17px 0 15px 0;
  }
  .header__width {
    padding: 0 11px;
  }
  .header__logo {
    width: 130px;
    height: 40px;
    z-index: 52;
  }
  .header__links {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    gap: 0 20px;
    padding: 0;
    position: relative;
    z-index: 55;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow: auto;
    padding: 64px 31px;
    background-color: #fff;
    transition: all 3s;
    opacity: 0;
    z-index: -1;
  }
  .nav__open {
    opacity: 1;
    z-index: 10;
  }
  .active__nav {
    display: flex !important;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    z-index: 100;
    transition: all 3s ease 0s;
  }
  .header__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #cde1f0;
  }
}
@keyframes burgerAnimationOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes burgerAnimationClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.portfolio__buttons {
  margin: 24px auto 0 auto;
  max-width: 958px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 22px 26px;
}

.portfolio__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #cde1f0;
  width: 220px;
  height: 50px;
  padding: 14px 0 18px 0;
  text-align: center;
  background-color: #E1E1E1;
  border-radius: 6px;
  color: #000;
}

.portfolio__button_active {
  background-color: #CA0100;
  color: #FFF;
}

.page__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #cde1f0;
  display: block;
  box-sizing: border-box;
  background-color: #CA0100;
  width: 256px;
  height: 52px;
  padding: 10px 0;
  border-radius: 20px;
  transition: 1s all ease-in-out;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.page__button {
  margin: 17px auto 0 auto;
  color: #000;
  transition: 1s all;
}
.page__button:hover {
  background-color: #ffd3a0;
  color: #ffffff;
}

@media (max-width: 900px) {
  .portfolio__buttons {
    margin: 26px auto 0 auto;
    max-width: 466px;
    gap: 22px 26px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .portfolio__buttons {
    margin: 20px auto 0 auto;
    gap: 21px 0;
  }
}
.advantages__title {
  margin: 55px 0 25px 35px;
}

.advantages__cards {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 17px;
  gap: 13px 13px;
}

.advantages__card {
  width: 320px;
  height: 130px;
  color: #140b0b;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  border: none;
}

.advantages__card-title__1 {
  background-image: url(../../img/blond.png);
}

.advantages__card-title__3 {
  background-image: url(../../img/blond.png);
}

.advantages__card-title__2 {
  background-image: url(../../img/car.png);
}

.advantages__img {
  display: block;
  width: 94px;
  height: 82px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 44px auto 20px auto;
}

.advantages__card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #cde1f0;
  color: #140b0b;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* black */
  padding: 20px 0 0 18px;
  color: #262626;
}

.advantages__cardsubtitle {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #cde1f0;
  color: #140b0b;
  margin: 10px 12px 0 12px;
  max-width: 276px;
}

.advantages__button {
  width: 92px;
  height: 30px;
  margin: 37px 0 0 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  background: #C2C2C4;
  text-align: center;
  opacity: 0.9;
  border-radius: 6px;
  color: #262626;
  transition: 1s all ease-out;
}
.advantages__button:hover {
  background-color: #b20707;
  color: #cde1f0;
}

@media (max-width: 900px) {
  .advantages__title {
    margin: 0 auto 0 auto;
    padding: 31px 0 0 0;
  }
  .advantages__subtitle {
    margin: 13px auto 0 auto;
  }
  .advantages__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 31px auto 0 auto;
    gap: 35px;
    padding: 0;
  }
}
@media (max-width: 520px) {
  .advantages__title {
    padding: 21px 0 0 0;
  }
  .advantages__subtitle {
    margin: 10px auto 0 auto;
  }
  .advantages__cards {
    margin: 17px auto 0 auto;
    padding: 0 5px;
    gap: 15px 0;
  }
}
.burger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  display: none;
  position: relative;
  z-index: 50;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #000;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 2s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 767px) {
  .burger {
    display: flex;
  }
}
.calc {
  margin: 15px auto 30px auto;
  position: relative;
  z-index: 2000;
}

.calc__container {
  max-width: 1000px;
  background-color: #f5f5f5;
  border-radius: 30px;
  margin: 0 auto;
  color: #000;
}

.calc__menu {
  padding: 24px 25px 10px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 3px solid rgb(0, 0, 0);
}

.calc__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #cde1f0;
  color: #000;
}

.calc__title-1 {
  width: 310px;
  padding: 0 0px 0px 2px;
  color: #000;
}

.calc__title-2 {
  width: 118px;
  text-align: center;
  color: #000;
}

.calc__title-3 {
  width: 206px;
  padding: 0 2px 0 0;
  text-align: center;
  color: #000;
}

.calc__title-4 {
  width: 181px;
  padding: 0 4px 0 0;
  text-align: center;
  color: #000;
}

@media (max-width: 900px) {
  .calc {
    margin: 23px auto 41px auto;
  }
  .calc__container {
    max-width: 746px;
  }
  .calc__menu {
    padding: 15px 13px 12px 17px;
  }
  .calc__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #cde1f0;
    color: #000;
  }
  .calc__title-1 {
    width: 271px;
    padding: 0;
  }
  .calc__title-2 {
    width: 88px;
    text-align: center;
  }
  .calc__title-3 {
    width: 159px;
    padding: 0;
    text-align: center;
  }
  .calc__title-4 {
    width: 114px;
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .calc {
    margin: 15px auto 19px auto;
  }
  .calc__container {
    max-width: 316px;
    border-radius: 12px;
  }
  .calc__menu {
    padding: 12px 8px 3px 4px;
  }
  .calc__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #cde1f0;
    color: #000;
  }
  .calc__title-1 {
    width: 88px;
    padding: 0 0px 0px 2px;
  }
  .calc__title-2 {
    width: 34px;
    padding: 0px 0 0px 2px;
    text-align: center;
  }
  .calc__title-3 {
    width: 72px;
    padding: 0 0px 0 1px;
    text-align: center;
  }
  .calc__title-4 {
    width: 66px;
    padding: 0 4px 0 0;
    text-align: center;
  }
}
.container {
  padding: 13px 24px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.container__title {
  width: 310px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  color: #000;
}

.container__price {
  padding: 0 3px 0 0;
  width: 118px;
  text-align: center;
  color: #000;
}

.container__inputs {
  padding: 0 4px 0 0px;
  width: 206px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

.container__button {
  width: 40px;
  height: 40px;
  background: #dfba5a;
  border-radius: 5px;
  margin: 0;
}

.container__input {
  background: rgba(174, 187, 198, 0.6);
  border-radius: 5px;
  text-align: center;
  padding: 3px 0;
  width: 66px;
  margin: 0;
}

.container__total-price {
  width: 181px;
  text-align: center;
  padding: 0px 5px 2px 0px;
  color: #000;
}

.cost {
  text-align: right;
  font-family: "Inter";
  font-style: normal;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #cde1f0;
  padding: 27px 36px 20px 0;
  color: #000;
}

.total-cost {
  padding: 0 0 0 32px;
  color: #000;
}

@media (max-width: 900px) {
  .container {
    padding: 8px 15px 0 13px;
    color: #000;
  }
  .container__title {
    padding: 0 0 0 4px;
    width: 271px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    color: #cde1f0;
    color: #000;
  }
  .container__price {
    padding: 0px 0px 0px 8px;
    width: 88px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    color: #cde1f0;
    color: #000;
  }
  .container__inputs {
    padding: 0px 0px 0 2px;
    width: 159px;
    color: #000;
  }
  .container__total-price {
    width: 114px;
    font-weight: 400;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    color: #cde1f0;
    padding: 0 0 0 4px;
    color: #000;
  }
  .cost {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    color: #cde1f0;
    color: #000;
  }
  .total-cost {
    padding: 0 0 0 27px;
    color: #000;
  }
  .cost {
    padding: 27px 36px 34px 0;
    color: #000;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 8px 6px 0 4px;
    color: #000;
  }
  .container__title {
    width: 88px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #cde1f0;
    color: #000;
  }
  .container__price {
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #cde1f0;
    width: 34px;
    color: #000;
  }
  .container__inputs {
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #cde1f0;
    width: 72px;
    color: #000;
  }
  .container__button {
    width: 20px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #cde1f0;
    color: #000;
  }
  .container__input {
    padding: 3px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #cde1f0;
    width: 32px;
    color: #000;
  }
  .container__total-price {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #cde1f0;
    width: 66px;
    padding: 0px 6px 0px 1px;
    color: #000;
  }
  .cost {
    text-align: right;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #cde1f0;
    padding: 17px 12px 17px 0;
    color: #000;
  }
  .total-cost {
    padding: 0 0 0 14px;
    color: #000;
  }
}
.cover {
  position: relative;
  min-height: 360px;
  max-width: 964px;
  margin: 0 auto;
}

.cover__img {
  position: absolute;
  background-image: url(../../img/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: #000;
}

.cover__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: block;
  max-width: 209px;
  color: #FFFFFF;
  background-color: red;
  padding: 7px 26px;
  border-radius: 20px;
  margin: 39px 0 0 35px;
}

.cover__title {
  margin: 28px 0 0 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #cde1f0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  /* black */
  color: #262626;
}

.cover__subtitle {
  margin: 15px 0 0 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #cde1f0;
  max-width: 605px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #262626;
}

@media (max-width: 900px) {
  .cover {
    min-height: 506px;
  }
  .cover__img {
    background-image: url(../extends/jpg/fonforcover768.jpg);
  }
  .cover__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 59px;
    color: #cde1f0;
    margin: 28px 0 0 26px;
  }
  .cover__subtitle {
    margin: 27px 0 0 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #cde1f0;
  }
}
@media (max-width: 520px) {
  .cover {
    min-height: 213px;
  }
  .cover__img {
    background-image: url(../extends/svg/opa.svg);
  }
  .cover__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #cde1f0;
    margin: 28px 0 0 26px;
  }
  .cover__subtitle {
    margin: 8px 0 0 11px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #cde1f0;
    max-width: 145px;
  }
}
.car {
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.car__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.car__img {
  width: 38px;
  height: 38px;
}

.car__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 290%;
  color: #262626;
}

.footer {
  width: 1024px;
  background-color: #fff;
  opacity: 0.8;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px 0 22px;
}

.footer__container-first {
  padding: 9px 17px 0 22px;
}

.footer__text {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 46px;
  color: #000000;
}

.footer__info {
  display: flex;
  gap: 6px;
  align-items: center;
}

.footer__img {
  width: 25px;
  height: 25px;
}

.footer__container-second {
  padding-bottom: 10px;
}

.name {
  padding-left: 100px;
}

.portfolio {
  position: relative;
  z-index: 2000;
}

.portfolio__title {
  padding: 51px 0 0 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #262626;
}

.portfolio__slider {
  position: relative;
  overflow: hidden;
  height: 691px;
}

.slider {
  display: flex;
  width: 300%;
  position: absolute;
  left: -100%;
  transition-duration: 3s;
}

.strelkaLeft {
  width: 40px;
  height: 40px;
}

.portfolio__cards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 22px;
  margin: 34px auto 0 auto;
  gap: 20px 21px;
  transition: 2s all ease-in;
}

.portfolio__img {
  width: 310px;
  height: 310px;
  border-radius: 30px;
}

.arrows {
  display: flex;
  position: absolute;
  z-index: 50;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  top: calc(50% - 39px);
  opacity: 0;
  padding: 60px;
  transition: all 2s;
}
.slider:hover + .arrows, .arrows:hover {
  opacity: 1;
}

.move_left {
  animation-name: move_left;
  animation-duration: 2s;
}

@keyframes move_left {
  0% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
.move_right {
  animation-name: move_right;
  animation-duration: 2s;
}

@keyframes move_right {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.button_slider_left,
.button_slider_right {
  width: 50px;
  height: 50px;
}
.button_slider_left:hover,
.button_slider_right:hover {
  color: #ffd3a0;
  filter: invert(0.6) sepia(1);
}

@media (max-width: 1000px) {
  .portfolio__cards,
  .price__cards {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 59px;
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .portfolio__title {
    padding: 31px 0 0 0;
  }
  .portfolio__cards {
    gap: 26px 30px;
    margin: 49px auto 0 auto;
  }
  .portfolio__slider {
    height: 711px;
  }
  .portfolio__img-hide_6 {
    overflow: visible;
  }
  .portfolio__img-hide_5 {
    overflow: hidden;
  }
  .portfolio__card-5,
  .portfolio__card-6 {
    display: none;
  }
}
@media (max-width: 520px) {
  .portfolio__slider {
    height: 345px;
  }
  .portfolio__card-2,
  .portfolio__card-3,
  .portfolio__card-4 {
    display: none;
  }
  .portfolio__title {
    padding: 22px 0 0 0;
  }
  .portfolio__cards {
    padding: 0 5px;
    margin: 29px auto 0 auto;
    gap: 25px;
  }
}
.price__title {
  padding: 48px 0 0 30px;
  font-family: "Roboto";
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #262626;
  text-align: start;
}

.price__cards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 23px auto 60px auto;
  gap: 30px;
  padding: 0 22px;
}

.price__card {
  width: 290px;
  height: 369px;
  background-color: #ffffff;
  border-radius: 30px;
  background: #FFFFFF;
  /* shad1 */
  box-shadow: 0px 0px 30px rgba(133, 147, 159, 0.3);
  border-radius: 25px;
}

.price__img {
  display: block;
  width: 249px;
  height: 177px;
  margin: 14px auto 0 auto;
}

.price__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #cde1f0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  width: 272px;
  color: #000;
  margin: 23px auto 0 auto;
}

.price__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  max-width: 200px;
  padding: 20px 0 0 17px;
}

.price__value {
  padding: 20px 0 12px 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #262626;
}

.price__button {
  color: #FFFFFF;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .price__title {
    padding: 30px 0 0 0;
  }
  .price__cards {
    margin: 29px auto 39px auto;
    justify-content: center;
    gap: 30px;
    padding: 0;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .price__title {
    padding: 19px 0 0 0;
  }
  .price__button {
    margin: 16px auto 0 auto;
  }
  .price__cards {
    margin: 18px auto 24px auto;
    justify-content: center;
    gap: 19px 0;
    padding: 0 5px;
  }
}
.video__title {
  padding: 44px 0 0 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #262626;
}

.video__text {
  padding: 20px 0 0 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #737373;
}

.video__iframe {
  max-width: 824px;
  height: 400px;
  margin: 59px 100px 0 100px;
}

.video__video {
  width: 70%;
  height: 425px;
  margin: 70px 153px;
}

.eef {
  display: block;
  max-width: 824px;
  max-height: 400;
  margin: 23px auto 0 auto;
}

@media (max-width: 900px) {
  .video__title {
    padding: 27px 0 23px 0;
  }
  .eef {
    display: block;
    max-width: 638px;
    height: 310px;
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  .video__title {
    padding: 17px 0 16px 0;
  }
  .eef {
    display: block;
    max-width: 320px;
    max-height: 148px;
    margin: 0 auto;
    padding: 0;
  }
}
.feedback {
  position: relative;
  min-height: 402px;
  max-width: 855px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feedback__img {
  position: absolute;
  background-image: url(../../img/fead.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}

.feedback__container {
  width: 420px;
  position: absolute;
  top: 22px;
  right: 72px;
}

.feedback__title {
  margin: 0;
  max-width: 420px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
}

.feedback__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 30px 0 15px 0;
  color: #FFFFFF;
}

.feedback__form {
  margin: 13px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px 0;
}

.feedback__field {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #cde1f0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  width: 100%;
  padding: 15px 20px;
  display: block;
  overflow: visible;
  transition: 1s all;
  background: #FFFFFF;
  border: 1px solid #EFF0F0;
  border-radius: 6px;
}
.feedback__field::-moz-placeholder {
  color: #000;
}
.feedback__field::placeholder {
  color: #000;
}

.feedback__message {
  height: 100px;
  resize: none;
}

.feedback__field:focus {
  border-color: rgba(66, 98, 123, 0.8);
  outline: none;
}

.feedback__button {
  margin: 0;
  width: 420px;
  height: 68px;
  border-radius: 6px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .feedback {
    min-height: 468px;
  }
  .feedback__img {
    background-image: url(../extends/jpg/fonforcvazi.jpg);
  }
  .feedback__container {
    max-width: 363px;
    position: absolute;
    top: 53px;
    right: 33px;
  }
  .feedback__form {
    margin: 22px 0 0 0;
  }
  .feedback__form-form {
    max-width: 349px;
  }
}
@media (max-width: 520px) {
  .feedback {
    min-height: 400px;
  }
  .feedback__img {
    background-image: url(../extends/jpg/feedbackfon.jpg);
  }
  .feedback__container {
    max-width: 310px;
    position: absolute;
    top: 21px;
    right: 5px;
  }
  .feedback__title {
    margin: 0;
    padding: 0 0 0 5px;
    max-width: 450px;
    text-align: start;
  }
  .feedback__form {
    margin: 17px 0 0 0;
    gap: 20px 0;
  }
}/*# sourceMappingURL=style.css.map */