
.feedback {
    position: relative;
    min-height: 402px;
    max-width: 855px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.feedback__img {
    position: absolute;
    background-image: url(../../img/fead.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

.feedback__container {
    width: 420px;
    position: absolute;
    top: 22px;
    right: 72px;
}

.feedback__title {
    margin: 0;
    max-width: 420px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}
.feedback__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 30px 0 15px 0;
    color: #FFFFFF;
}


.feedback__form {
    margin: 13px 0 0 0;
    @include flex (center, baseline, wrap); 
    flex-direction: column;
    gap: 20px 0;
}

.feedback__field {
    @include font (400, 20px, 40px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;


    color: #262626;
    width: 100%;
    padding: 15px 20px;
    display: block;
    overflow: visible;
    transition: 1s all;
    background: #FFFFFF;
    border: 1px solid #EFF0F0;
    border-radius: 6px;

    &::placeholder {
        color: #000;
    }
}
    
.feedback__message {
    height: 100px;
    resize: none;
}

.feedback__field:focus {
    border-color: rgba(66, 98, 123, 0.8);
    outline: none;
}
.feedback__button{
    margin: 0;
    width: 420px;
    height: 68px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media (max-width: 900px) {
    .feedback {
        min-height: 468px;
    }

    .feedback__img {
        background-image: url(../extends/jpg/fonforcvazi.jpg);
    }

    .feedback__container {
        max-width: 363px;
        position: absolute;
        top: 53px;
        right: 33px;
    }

    .feedback__form {
        margin: 22px 0 0 0;
    }

    .feedback__form-form {
        max-width: 349px;
    }
}
@media (max-width: 520px) {
    .feedback {
        min-height: 400px;
    }

    .feedback__img {
        background-image: url(../extends/jpg/feedbackfon.jpg);
    }

    .feedback__container {
        max-width: 310px;
        position: absolute;
        top: 21px;
        right: 5px;
    }

    .feedback__title {
        margin: 0;
        padding: 0 0 0 5px;
        max-width: 450px;
        text-align: start;
    }

    .feedback__form {
        margin: 17px 0 0 0;
        gap: 20px 0;
    }
}
