.page {
    background-color: #fff;
    font-family: "Inter", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page__container {
    max-width: 1024px;
    margin: 0 auto;
}

.page__title {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    @include font (700, 48px, 58px);
    color: #000;
}

.page__subtitle {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    @include font (600, 20px, 24px);
    color: #000;
}
@media (max-width: 900px) {
.page__title {
    max-width: 400px;
    @include font (700, 39px, 47px);
}

.page__subtitle {
    max-width: 350px;
    @include font (600, 18px, 22px);
}
}
@media (max-width: 520px) {
    .page__title {
        @include font (700, 24px, 29px);
    }
    .page__subtitle {
        @include font (600, 18px, 22px);
    }
}

.style {
    font-style: normal;
    @include font (500, 28px, 34px);
    color: $text-color;
}

@media (max-width: 900px) {
    .style {
        font-style: normal;
        @include font (500, 28px, 34px);
        color: $text-color;
    }
}